/* local fonts; both are SIL Open Font License 1.1 */
@font-face{ font-family:'Heebo'; src:url('Heebo.ttf') format('truetype'); font-weight:100 900; font-display:block; }
@font-face{ font-family:'Monsieur La Doulaise'; src:url('Monsieur-La-Doulaise.ttf') format('truetype'); font-display:block; }
